<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="41cece15-27c1-45de-834c-973ceac76f7f"
            Publisher="CN=mariano"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Windows8Player</DisplayName>
    <PublisherDisplayName>mariano</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Windows8Player.App">
        <VisualElements
            DisplayName="Windows8Player"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="Windows8Player"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>